<!DOCTYPE html>
<html>
  <head>
    <title>Brainstorm Concepts</title>
    <link rel="shortcut icon" href="/images/dukelogo.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <div class = "container-fluid">
      <div class = "row">
          <div class ="col-4">
          </div>
          <div class = "col-4 centertext">
            Observation System
          </div>
          <div class = "col-4 right">
            <% if(netid == null) { %>
              Guest &bull;
              <a href = "https://oauth.oit.duke.edu/oauth/authorize.php?client_id=musing-wright&client_secret=%=GwU9=7pQNofqaA@GkFV=PcPBJSvouANnRxhxqUB=P7YL@MYu&redirect_uri=https://observation-system.herokuapp.com/domains&response_type=token&state=1123&scope=basic" class = "headerlogin">
                Login</a>
            <% } else { %>
              <%= netid %> &bull;
              <form onsubmit="return confirm('Are you sure you want to log out?');" class = "inlineblock" name="logout" method="post" action="/logout">
                <button class = "headerlogout" id="btnSubmit" type="submit">Logout</button>
              </form>
            <%}%>
          </div>
      </div>
      </div>
    </header>
  <body>
    <h1>Innovation Target: <%= title %></h1>
    <h2>Cluster: <%= cluster %></h2>
    <h3>Need: <%= need %></h3>
    <button onclick="window.location.href='/domains/<%= title%>/<%= cluster %>';" class = "backbutton">&#8249;&#8249; All Needs</button>
    <form id="formAddSolution" name="addsolution" method="post" action="/addsolution">
      <input id="inputSolution" class = "conceptinput" type="text" placeholder="Add New Concept" name="solution" required/>
      <button class = "urlpage" id="btnSubmit" type="submit">Submit</button>
      <input class = "hide" type = "text" value = '<%= title %>' name = "domain"/>
      <input class = "hide" type = "text" value = '<%= cluster %>' name = "cluster"/>
      <input class = "hide" type = "text" value = '<%= need %>' name = "need"/>
      <p id = "submittedsolution" class = "inlineblock submitted">Received &#10004;</p>
      <br>
      <br>
    </form>
    <div class = "center">
    <form onsubmit="return confirm('Are you sure you want to remove all concepts from this need?');" class= "inlineblock" method = "post" action= "/removesolutions">
      <button class = "removeall">Remove all Concepts</button>
      <input class = "hide" type = "text" value = '<%= title %>' name = "domain"/>
      <input class = "hide" type = "text" value = '<%= cluster %>' name = "cluster"/>
      <input class = "hide" type = "text" value = '<%= need %>' name = "need"/>
    </form>
    <button onclick="window.location.href='/editneed/<%=title%>/<%=cluster%>/<%=need%>';" class = "inlineblock editall">Edit Concepts</button>
    </div>

        <% for (var i = 0; i < solutions.length; i++) { %>
          <p class = "bigger marginleft inlineblock">&#8226;</p>
          <h4 class = "clusterheader inlineblock"><a onclick="window.location.href='/domains/<%=title%>/<%=cluster%>/<%=need%>/<%= solutions[i].solution %>';">Concept <%=i+1%>:</a></h4> <p class = "solution inlineblock"><%=solutions[i].solution%></p>
            <br>
        <% } %>

    <script>
      $('#submittedsolution').hide();
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = urlParams.get('re');
      if(myParam == "Duplicate_Solution") {
        alert("You already added that Concept to this Need!");
      }
      if(myParam == "Received_Solution") {
        $('#submittedsolution').show();
      }
    </script>

  </body>
</html>